*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Shared Styles goes here */
.fixed-width-text-container{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.description-text{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-primary{
    background-color: #E55473;
    color: white;
    border: none;
    padding: 20px 43px;
    /* margin-top: 32px; */
    gap: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    
}

.section-structure{
    margin: 130px 240px;
}

.title-text{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.highlighted-text{
    color: #E55473;
}
/* Header sections styles are here */

.header-section{
    background-color: #e554731a;
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: space-around;


    /* Ami sure chilam na Header section er Flower image ta kivabe use korte bolse, normal image hishebe naki background image hishebe. Tai normally use er shathe background img hishebeo set korar code ta niche comment out kore diye dilam. Hopefully you will forgive if I made any mistakes. */


    /* background-image: url("./images/pngwing 10.png");
    background-position: bottom right;
    background-repeat: no-repeat; */
}

.header-image-container{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: -50px;
}

.headline-text{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 35px;
}
#rightside-description-text{
    text-align: left;
}
.header-items-container{
    padding-left: 240px;
    max-width: 40%;
}

/* Main Section styles goes here */





/* Feature Flower Section */


.feature-flower-container-box{
    display: flex;
    justify-content: space-around;
}
.feature-flower-container{
    width: 400px;
    height: 500px;
    margin-top: 45px;
    border-radius: 200px 200px 0 0;
    display: flex;
    align-items:end;
}
.feature-flower-container img{
    width: 300px;
    height: 400px;
    padding: 40px 50px 0 50px;
}
#first-image-container-background{
    background-color: #a7216226;

}
#second-image-container-background{
    background-color: #0597a026;
    align-items: center;
}
#second-image-container-background img{
    height:350px;
    width: 350px;
}

#third-image-container-background{
    background-color: #477d1126;

}
.flower-tree-name-container{
    display: flex;
    justify-content: space-around;

}

.flower-tree-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    text-decoration: underline;
}

/* Services Section */
.services{
    background-color: #2727270d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.services-container{
    display: block;
    text-align: center;
    padding: 60px;
}
.services-details{
    color: #272727cc;
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

/* Best selling Flowers styles */
.best-selling-item-container{
    display: block;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #e554731a, #e6c8c80d, #fa77931a);
    padding: 60px 0;
}
.best-selling-image-container{
    display: flex;
    justify-content: space-around;
}
.best-selling-image-container img{
    width: 308px;
    height: 357px;
    border-radius: 50px;
    /* border: 3px solid #eb8ca1c7; */
    box-shadow: 15px 25px 40px gray;
}
.flower-name-container{
    display: flex;
    justify-content: space-around;
}
.best-selling-flower-name{
    color: #272727;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-top: 50px;
    text-decoration: underline overline;
}

/* Hot Deals Styles */

.hot-deals{
    background: #e554730d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 300px;
}
.hot-deals-text-container{
    text-align: center;
    max-width: 600px;
    display: block;
    justify-content: center;
}

/* Instagram Section Styles */

.instagram-image-container{
    display: flex;
    justify-content: space-between;
    /* margin-top: 40px; */
}
.instagram-image-container img{
    width: 308px;
    height: 357px;
}

/* Latest Deals Section styles*/
.latest-deal-section{
    background-image: url("./images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.submission-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input-box{
    width: 700px;
    height: 64px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    margin-right: 15px;

}
#input-box::placeholder{
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
}


/* Footer section styles start here */
.footer-section{
    background-color: #111010;
    text-align: center;
    padding: 130px 0;
    display: flex;
    justify-content: center;
}
.footer-section-container{
    max-width: 600px;
}
.footer-title{
    color: white;
    font-size: 48px;
    font-weight: 800;
}
.footer-description-text{
    color: #ffffffe6;
    font-size: 18px;
    font-weight: 400;
    margin: 25px auto 30px auto;
}
.footer-copyright-text{
    color: #ffffff66;
    font-size: 16px;
    font-weight: 400;
}