*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Shared Styles goes here */

.description-text{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary{
    background-color: #E55473;
    color: white;
    border: none;
    padding: 20px 43px;
    margin-top: 32px;
    gap: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    
}

/* Header sections styles are here */

.header-section{
    background-color: #e554731a;
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url("./images/pngwing 10.png");
    background-position: bottom right;
    background-repeat: no-repeat;
}

.headline-text{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 35px;
}
.header-items-container{
    padding-left: 240px;
    max-width: 40%;
}
